/* -----------
    Utilities 
   ----------- */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    color: white;
    font-size: 64px;
}

h2{
    color: #18191F;
    font-size: 48px;
    margin-bottom: -10px;
}

h3{
    color: #18191F;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: -5px;
}

p{
    color: #6C6C6C;
    text-align: justify;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #E02C6D;
    border-radius: 5px;
    width: 150px;
    height: 50px;
}

.button:hover{
    background-color: darkred;
}
    
/* ----------------
    Banner Section 
   ---------------- */
#header-banner{
    background-color: #2D25A0;
    height: 700px;
}

#navigation-container{
    display: flex;
    flex-direction: row;
    margin-left: 120px;
}

#navigation-menu{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    padding-left: 0px;
}

nav>ul>li{
    list-style: none;
    margin-right: 40px;
}

.nav-button{
    margin-left: 450px;
}

.fa-arrow-right-to-bracket{
    margin-right: 10px;
}

#below-navigation-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#banner-column-left{
    margin-left: 120px;
}

.fa-arrow-right{
    margin-left: 10px;
}

.banner-photo{
    width: 560px;
    height: 440px;
    margin-right: 120px;
    margin-top: 50px;
}

/* -----------------
    Players Section
   ----------------- */
#players-section{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

.player-info{
    width: 300px;
    height: 440px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 40px rgba(0, 0, 0, .15);
}

.player-photo{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}

.player-info:hover{
    transform: scale(1.1);
    transition: 1s ease-in-out;
}

/* -----------------
    Tickets Section 
   ----------------- */
#tickets-container{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    margin-top: 80px;
}

#tickets-left-column{
    padding-top: 50px;
    width: 500px;
    height: 435px;
    margin-left: 15px;
    margin-right: 70px;
}

#tickets-photo{
    width: 500px;
    height: 380px;
    border-radius: 10px;
    box-shadow: 1px 1px 40px rgba(0, 0, 0, .15);
}

#tickets-photo:hover{
    transform: scale(1.1);
    transition: 1s ease-in-out;
    box-shadow: 1px 1px 40px rgba(0, 0, 0, .8);
}

/* --------------------
    Highlights Section
   -------------------- */
#highlights-container{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

#highlights-photo{
    width: 500px;
    height: 380px;
    border-radius: 5px;
    margin-left: 90px;
}

#highlights-photo:hover{
    transform: scale(1.1);
    transition: 1s ease-in-out;
    box-shadow: 1px 1px 40px rgba(0, 0, 0, .8);
}

#highlights-right-column{
    padding-top: 50px;
    width: 500px;
    height: 435px;
    margin-left: 70px;
    margin-right: 70px;
}

/* ----------------
    Footer Section
   ---------------- */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#logo{
    width: 400px;
    height: 100px;
    margin-bottom: 10px;
}

.social-media-icons{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.social-media-icons:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
    background-color: lightblue;
    border-radius: 50px;
}

footer>p{
    color: black;
}

/* ----------------------------
    Responsiveness for Devices 
   ---------------------------- */

/* Mobile Devices */
@media only screen and (max-width: 688px) {
    /* Banner Section */
    #header-banner{
        height: 1050px;
        display: flex;
        align-items: center;
    }

    #navigation-menu>.menu{
        display: none;
    }

    #below-navigation-container{
        flex-direction: column;
    }

    #banner-column-left{
        margin-left: 0px;
    }

    .banner-photo{
        padding-top: 50px;
    }

    /* Players Section */
    #players-section{
        grid-template-columns: repeat(1, 1fr);
    }

    /* Tickets Section */
    #tickets-container{
        flex-direction: column;
        margin-top: 0;
    }

    #tickets-left-column{
        margin-left: 0;
        margin-right: 0;
    }
    
    #tickets-photo{
        margin-top: -125px;
        margin-bottom: 25px;
    }

    /* Highlight Section */
    #highlights-container{
        flex-direction: column;
    }
    
    #highlights-photo{
        margin-left: 0;
    }
    
    #highlights-right-column{
        margin-left: 0;
        margin-right: 0;
        margin-top: -50px;
        margin-bottom: -150px;
    }

    /* Footer Section */
    footer{
        align-items: center;
    }
}

/* Tablet Devices */
@media only screen and (min-width:689px) and (max-width: 992px) {
    /* Banner Section */
    #header-banner{
        height: 600px;
        display: flex;
        flex-direction: row;
    }
    
    #navigation-menu>.menu{
        display: none;
    }
    
    #banner-column-left{
        margin-left: 0px;
    }
    
    .banner-photo{
        padding-top: 50px;
    }

    /* Players Section */
    #players-section{
        grid-template-columns: repeat(2, 1fr);
    }

    /* Tickets Section */
    #tickets-container{
        flex-direction: column;
        margin-top: 0;
    }

    #tickets-left-column{
        margin-left: 0;
        margin-right: 0;
    }
    
    #tickets-photo{
        margin-top: -125px;
        margin-bottom: 25px;
    }

    /* Highlight Section */
    #highlights-container{
        flex-direction: column;
    }
    
    #highlights-photo{
        margin-left: 0;
    }
    
    #highlights-right-column{
        margin-left: 0;
        margin-right: 0;
        margin-top: -50px;
        margin-bottom: -150px;
    }

    /* Footer Section */
    footer{
        align-items: center;
    }
}